.input-container { 
  background-color: whitesmoke;
  color: darkslategrey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
}
input {
  padding: 3px;
  border-radius: 10px;
}
ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.input-x {
  background-color: transparent;
  color: tomato;
}