.card {
  background-color: whitesmoke;
  color: darkslategrey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  min-height: 25vh;
  margin: auto;
  justify-content: center;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.card-header {
  padding: 20px 0px;
  margin-bottom: 0px;
  color: white;
}
img{
  width: 100%;
  border-radius: 15px;
}
#skill {
  background-color: darkgreen;
}
#activity {
  background-color: lemonchiffon;
  color: black;
}
#decree {
  background-color: tomato;
}
#curse {
  background-color: steelblue;
}