button {
  font-size: calc(10px + 2vmin);
  font-family: "Monaco", "Courier New", monospace;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  border: none;
  padding:  5px 15px;
  margin: 10px 2px;
}