.PopUp{
    position: fixed;

    left: 20%;
    top: 10%;

    width: 60%;
    padding:1% 2%;
    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px grey;

    background-color: #FDFFFC;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #011627;
}
.popup-x {
    position: fixed;
    top: 8%;
    right: 16%;
    background-color: transparent;
    border: none;
    color: tomato;
    font-size: 30px;
}