.utilities-sidebar{
    position: fixed;

    right: 1%;
    top: 20%;

    width: 14%;
    height: 50%;
    padding:1% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: whitesmoke;
    color: darkslategrey;

    overflow: hidden;
}
.sidebar-header {
    margin-top: 10px;
}