.App {
  text-align: center;
  min-height: 100vh;
  background-color: ghostwhite;
  font-family: "Monaco", "Courier New", monospace;
}

.App-header {
  align-items: center;
}
.App-body {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}